php_value register_globals on
php_value magic_quotes_gpc on

# Главная страница в директории
DirectoryIndex index.php

# Кодировка документов по умолчанию 
php_value default_charset windows-1251


# Сообщения сервера о ошибках в PHP-коде
php_value error_reporting off
php_flag display_errors off



